msvs2017_cmake/
.DS_Store
CMakeLists.txt.user
3rparty/
macxcode/
#src/i18n/
*.pyc
CMakeFiles/
CMakeScripts/
Debug/
thirds/*/CMakeFiles/
thirds/*/CMakeScripts/
thirds/*/Debug/
thirds/dependencies
thirds/dependencies_inner/ftp
thirds/dependencies_inner/repo
thirds/dependencies_inner/config/Downloads
thirds/dependencies_inner/config/pytools/get_depend_data.log
*_autogen
BuildConfig.h
CMakeCache.txt
*.xcodeproj/
*cmake_install.cmake
