msvs2017_cmake/
.DS_Store
CMakeLists.txt.user
3rparty/
macxcode/
#src/i18n/
*.pyc
CMakeFiles/
CMakeScripts/
Debug/
thirds/*/CMakeFiles/
thirds/*/CMakeScripts/
thirds/*/Debug/
*_autogen
BuildConfig.h
CMakeCache.txt
*.xcodeproj/
*cmake_install.cmake
